{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'scripts/styles.css' %}">
<title>Page Title</title>
</head>
<body>

<div id="background">
    <div id="navBar">
            <ul>
                <li>icon</li>
                <li><a href="#dashboard" class="navText">Dashboard</a></li>
                <li><a href="#categories" class="navText">Categories</a></li>
                <li class="right"><a href="#user" class="navText">User</a></li>
            </ul>
    </div>
        
    <div id="frame">
        <div id="left">
            <div id="leftHeader">
                <h1>Course title</h1>
                <p>Course Instructor: Subhayan Roy</p>    
            </div>

            <div id="moduleList">
                <table>
                    <tr>
                        <td>Module 1</td>
                        <td rowspan="3">icon</td>
                    </tr>
                    <tr>
                        <td>Module title</td>
                    </tr>
                    <tr>
                        <td>Take end of module quiz</td>
                    </tr>
                    <tr>
                            <td>Module 2</td>
                            <td rowspan="3">icon</td>
                        </tr>
                        <tr>
                            <td>Module title</td>
                        </tr>
                        <tr>
                            <td>Take end of module quiz</td>
                    </tr>
                    <tr>
                            <td>Module 3</td>
                            <td rowspan="3">icon</td>
                        </tr>
                        <tr>
                            <td>Module title</td>
                        </tr>
                        <tr>
                            <td>Take end of module quiz</td>
                        </tr>
                </table>
            </div>    
        </div>
            
        <div id="right">
            <button type="button" onclick="alert('Hello world!')">Course Info</button><button type="button" onclick="alert('Hello world!')">Drop Course</button>
            <h1>Module title</h1>
            <table>
                <tr>Component 1</tr>
                <tr><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></tr>
                <tr>Component 2</tr>
                <tr><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>