{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'scripts/styles.css' %}">
<title>{{c.courseName}}</title>
</head>
<body>

<div id="background">
    <div id="navBar">
            <ul>
                <li><img src="{% static 'images/owl.png' %}"></li>
                <li><a href="" class="navText">Dashboard</a></li>
                <li><a href="#categories" class="navText">Categories</a></li>
                <li class="right"><img src="{% static 'images/user.png' %}"></li>
            </ul>
    </div>
        
    <div id="frame">
        <div id="right">
            <form method="post">
                {% csrf_token %}
                <button>{{type}}</button>
            </form>
            <h1>{{courseDetails.courseName}}</h1>
            <h4>Course Instructor: {{instructorDetails.firstName}} {{instructorDetails.lastName}}</h4>
            <h2>Course Description:</h2>
            <p>{{courseDetails.courseDescription}}</p>
            <h3>Includes {{courseDetails.numOfModules}} Modules & End-of-Module Quizzes</h3>
            <h2>CECU Value: {{courseDetails.courseCECU}} Units</h2>
        </div>
    </div>
</div>
</body>
</html>