{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'scripts/styles.css' %}">
<title>ICE</title>
</head>
<body>

<div id="background">
    <div id="navBar">
            <ul>
                <li><img src="{% static 'images/owl.png' %}"></li>
                <li><a href="../../dashboard" class="navText">Dashboard</a></li>
                <li><a href="../../category/categoryID=0" class="navText">Categories</a></li>
                <li class="right"><img src="{% static 'images/user.png' %}"></li>
            </ul>
    </div>
        
    <div id="frame">
        <div id="left">
            <div id="leftHeader">
                <h1>{{course.courseName}}</h1>
                <p>Course Instructor: {{instructor.firstName}} {{instructor.lastName}}</p>
            </div>

            <div id="moduleList">
                <table>
                    {% for modules in done_Modules %}
                        <tr>
                            <td>Module {{modules.orderNumber}}</td>
                            <td rowspan="2">icon</td>
                        </tr>
                        <tr>
                            <td><a href ="../../learnerCourse/courseID={{modules.courseID}}&moduleID={{modules.orderNumber}}">{{modules.moduleTitle}}</a></td>
                        </tr>
                    {% endfor %}
                    {% if currModule.moduleID is not Null %}
                        <tr>
                            <td>Module {{currModule.orderNumber}}</td>
                            <td rowspan="3">icon</td>
                        </tr>
                        <tr>
                            <td><a href ="../../learnerCourse/courseID={{currModule.courseID}}&moduleID={{currModule.orderNumber}}">{{currModule.moduleTitle}}</a></td>
                        </tr>
                        <tr>
                            <td><a href ="../../quizform/">Module Quiz</a></td>
                        </tr>
                    {% endif %}
                    {% for modules in left_Modules %}
                        <tr>
                            <td>Module {{modules.orderNumber}}</td>
                            <td rowspan="2">icon</td>
                        </tr>
                        <tr>
                            <td>{{modules.moduleTitle}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>    
        </div>
            
        <div id="right">
            <button type="button" onclick="window.location.href = '../../courseDescription/courseID={{course.courseID}}'">Course Info</button>
            <button type="button" onclick="alert('Hello world!')">Drop Course</button>
            <h1>{{title.moduleTitle}}</h1>
            <table>
                {% for com in components %}
                    <tr>Component {{com.orderNumber}} - {{com.componentTitle}}</tr>
                    {% if com.componentText is not Null %}
                        <tr><p>{{com.componentText}}</p></tr>
                    {% else %}
                        <tr><img src="{{com.componentImage.url}}" width="400" height="200"></tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>


</body>
</html>