{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'scripts/styles.css' %}">
<title>Dashboard</title>
</head>
<body>

<div id="background">
    <div id="navBar">
            <ul>
                <li><img src="{% static 'images/owl.png' %}"></li>
                <li><a href="" class="navText">Dashboard</a></li>
                <li><a href="#categories" class="navText">Categories</a></li>
                <li class="right"><img src="{% static 'images/user.png' %}"></li>
            </ul>
    </div>
        
    <div id="frame">
        <div id="left">
            <div id="leftHeader">
                <h1>Live Courses</h1>
            </div>

            <div id="courseList">
                <table>
                    {% for course in all_courses %}
                        {% for m in currModules %}
                            {% if course.courseID|slugify == m.courseID|slugify %}
                            <tr>
                                <td>Course {{course.courseID}}</td>
                                <td rowspan="2">icon</td>
                            </tr>
                            <tr>
                                <td><a href ="../instructorCourse/courseID={{course.courseID}}&moduleID={{m.pk}}/">{{course.courseID}} - {{course.courseName}}</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>    
        </div>
            
        <div id="right">
            <button type="button" onclick = "window.location.href = '../addCourse/';">Add Course</button>
        </div>
    </div>
</div>


</body>
</html>