<h3>Instructor Registration</h3><br>
<form action="">
    <input type="text" name="firstname" placeholder="First Name"><br>
    <input type="text" name="lastname" placeholder="Last Name"><br>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="text" name="password_check" placeholder="Confirm Password"><br>
    <input type="text" name="biography" placeholder="Biography"><br>
    <input type="submit" value="Confirm Signup"><br>
</form>