{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'scripts/styles.css' %}">
<title>ICE</title>
</head>
<body>

<div id="background">
    <div id="navBar">
            <ul>
                <li><img src="{% static 'images/owl.png' %}"></li>
                <li><a href="" class="navText">Dashboard</a></li>
                <li><a href="#categories" class="navText">Categories</a></li>
                <li class="right"><img src="{% static 'images/user.png' %}"></li>
            </ul>
    </div>
        
    <div id="frame">
        <div id="left">
            <div id="leftHeader">
                <h1>{{c.courseName}}</h1>
                <p>Course Instructor: {{instructor.firstName}} {{instructor.lastName}}</p>
            </div>

            <div id="moduleList">
                <table>
                    {% for modules in all_modules %}
                        <tr>
                            <td>Module {{modules.orderNumber}}</td>
                            <td rowspan="2">icon</td>
                        </tr>
                        <tr>
                            <td><a href ="../../instructorCourse/instructorID={{instructor.userID}}&courseID={{modules.courseID}}&moduleID={{modules.pk}}">{{modules.moduleTitle}}</a></td>
                        </tr>
                        <!-- <tr>
                            <td>Take end of module quiz</td>
                        </tr> -->
                    {% endfor %}
                </table>
            </div>    
        </div>
            
        <div id="right">
            <button type="button" onclick = "window.location.href = '../../addModule/instructorID={{instructor.userID}}&courseID={{course.pk}}';">Add Module</button>
            <button type="button" onclick = "window.location.href = '../../addComponent/instructorID={{instructor.userID}}&moduleID={{title.pk}}';">Add Component</button>
            <button type="button" onclick = "window.location.href = '../../addModuleQuiz/{{title.pk}}';">Add Quiz</button>
            <h1>{{title.moduleTitle}}</h1>
            <table>
                {% for com in components %}
                    <tr>Component {{com.orderNumber}} - {{com.componentTitle}}</tr>
                    {% if com.componentText is not Null %}
                        <tr><p>{{com.componentText}}</p></tr>
                    {% else %}
                        <tr><img src="{{com.componentImage.url}}" width="400" height="200"></tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>


</body>
</html>