{% extends 'ICE/base1.html' %}

{% load static %}
{% block navbar %}
    <ul>
        <li><img src="{% static 'images/owl.png' %}"></li>
        <li><a href="" class="navText">Dashboard</a></li>
        <li><a href="" class="navText">Quiz Question Banks</a></li>
        <li class="right"><img src="{% static 'images/user.png' %}"></li>
    </ul>
{% endblock %}

{% block content %}
<div id="contentHeader" class="container">
    <ul class = "nav nav-tabs">
        <li class = "active"><a href="" class="navText">Live Courses</a></li>
        <li class = ""><a href="" class="navText">Under Development</a></li>
    </ul>
</div>
<div id="courseList" class="container">
{% for course in all_courses %}
    <div class="course col-md-4">
    {% for m in currModules %}
        {% if course.courseID|slugify == m.courseID|slugify %}
        <span>Course {{course.courseID}}</span>
        <span><a href ="../learnerCourse/courseID={{course.courseID}}&moduleID={{m.currentModule}}/">{{course.courseID}} - {{course.courseName}}</a></span>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}