<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Module</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
{{ form }}
<!-- {% for m in course %}
    <button type="button" onclick = "window.location.href = '../../instructorCourse/courseID={{m.pk}}';"> Submit</button>
{% endfor %} -->
<button> Submit</button>
</form>

</body>
</html>