{% extends 'ICE/base0.html' %}

{% block content %}
    <form method='POST'>
        {% csrf_token %}
        {% for q in questions %}
        <fieldset id={{q.questionID}}>
            <h3> {{q.questionStatement}} </h3>
            <input type="radio" value=1 name={{q.questionID}}> {{q.qOption1}} <br>
            <input type="radio" value=2 name={{q.questionID}}> {{q.qOption2}} <br>
            <input type="radio" value=3 name={{q.questionID}}> {{q.qOption3}} <br>
            <input type="radio" value=4 name={{q.questionID}}> {{q.qOption4}} <br>
        </fieldset>
        {% endfor %}
        <button>Submit</button>
    </form>
{% endblock %}